*.jar
*.txt
*.xml
bin/*
docs/*
build/*
contrib/*
C++/*
ivy/*
lib/*
libexec/*
sbin/*
share/*
testing/*
webapps/*
src/ant/*
src/contrib/*
src/examples/*
src/webapps/*
src/benchmarks/*
src/native/*
src/test/*
src/c++/*
src/docs/*
src/packages/*
src/tools/*

*.html
*.7z 
*.dmg 
*.gz 
*.iso  
*.rar 
*.tar 
*.zip
*.com 
*.class 
*.dll 
*.exe 
*.o 
*.so
